In [ ]:
#https://videoportal.epam.com/video/mYRr3BYW

In [8]:
import great_expectations as ge
import numpy as np
import pandas as pd

In [16]:
df_raw =pd.DataFrame(np.random.randint(0,10,size=(10,4)), columns=list('ABCD'))   #create random df with columns A,B,C,D
display(df_raw)

   A  B  C  D
0  9  9  9  6
1  2  0  9  0
2  4  0  3  8
3  8  9  5  9
4  2  0  8  1
5  1  9  8  1
6  7  7  5  2
7  2  2  4  0
8  8  4  6  7
9  7  2  3  5

In [17]:
df=ge.from_pandas(df_raw)                    #convert df which read GE
df.expect_column_values_to_not_be_null('A')   #validation that values in columns A  is not null

{
  "success": true,
  "result": {
    "element_count": 10,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [19]:
df.expect_column_values_to_be_unique('A')   #validation that values in columns A  is not null

{
  "success": false,
  "result": {
    "element_count": 10,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 7,
    "unexpected_percent": 70.0,
    "unexpected_percent_total": 70.0,
    "unexpected_percent_nonmissing": 70.0,
    "partial_unexpected_list": [
      2,
      8,
      2,
      7,
      2,
      8,
      7
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
# {
#   "success": false,          ---result of test
#   "result": {                  -----result present in json format
#     "element_count": 10,       ---elenents processing
#     "missing_count": 0,
#     "missing_percent": 0.0,
#     "unexpected_count": 7,       ----cnt not suitable elements
#     "unexpected_percent": 70.0,  -----% false
#     "unexpected_percent_total": 70.0,
#     "unexpected_percent_nonmissing": 70.0,
#     "partial_unexpected_list": [      ---list with unsuitable values
#       2,
#       8,
#       2,
#       7,
#       2,
#       8,
#       7
#     ]
#   },
#   "meta": {},
#   "exception_info": {
#     "raised_exception": false,
#     "exception_traceback": null,
#     "exception_message": null
#   }
# }